h1 {
  background-color: #D3D3D3;
  color: black;
  text-align: center;
}

form {
  text-align: center;
  border: none;

}

input {
  width: 260px;
  height: 35px;
  border-left: lavender;
  border-top: lavender;
  border-right: lavender;
}

input[type=text] {

  color: black;
}

input[type=text]:focus {
  border: 3px solid #555;
}

submit {
  border-radius: 120%;
}

body {
  background-color: #DCDCDC;
  font-family: cursive;


}

#cadastrar {
  grid-template-columns: auto auto auto auto auto;
  display: grid;
  gap: 50px;
  width: 45%;
}

a {
  border: 2px solid rgb(187, 181, 186);
  text-decoration: none;
}

a:hover {
  background-color: rgb(187, 187, 198);
  color: blueviolet;
}